/* ----------------------- */
/* CUSTOM PROPERTIES */
/* ----------------------- */

:root {
    /* colors */
    --color-darkgreen: 192 37 48;
    --color-darkpurple: 268 34 53;
    --color-brown: 240 21 20;
    --color-black: 240 10 57;
    --color-mint: 192 90 77;
    --color-pink: 268 100 86;
    --color-cream: 0 0 98;

    /* font-sizes */
    --fs-800: 4rem;
    --fs-700: 2.5rem;
    --fs-600: 1.625rem;
    --fs-500: 1.125rem;

    /* font-families */
    --ff-sans-normal: "Red Hat Display", sans-serif;
}

/* ----------------------- */
/* RESET MARGIN, PADDING, BORDER-BOX */
/* ----------------------- */

/* set all contents to appear in box */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, p,
figure, picture {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6,
p {
    font-weight: 400;
}

/* Set up body */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl( var(--color-black));
    line-height: 1.625rem;
    min-height: 100vh;

    display: grid;
    grid-template-rows: min-content 1fr 1fr 1fr 1fr;
    overflow: scroll;
}

/* Set img and pic in block and fill up content */
img, picture {
    max-width: 100%;
    display: block;
}

/* set all fonts to inherit */
input, button,
textarea, select {
    font: inherit;
}

/* Respect for choices turning off animation */
@media (prefers-reduced-motion: reduce) {
    *, *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ------------------- */
/* UTILITY CLASSES     */
/* ------------------- */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
    margin: 1rem 0;
}

/* for screen reader */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow:hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* COLOR VARIABLES: Background, text*/
.bg-green { background-color: hsl (var(--color-darkgreen)) };
.bg-purple { background-color: hsl (var(--color-darkpurple)) };

.text-purple { color: hsl (var(--color-darkpurple)) };
.text-grey { color: hsl (var(--color-brown)) };
.text-white { color: hsl (var(--color-cream)) };
.text-mint { color: hsl (var(--color-mint)) };

/* TYPOGRAPHY */

.ff-sans-normal { font-family: var(--ff-sans-normal); }

.line-height-3 { line-height: 64px };
.line-height-2 { line-height: 44px };
.line-height-1 { line-height: 26px };

.uppercase { text-transform: uppercase;}

.letter-spacing-1 { letter-spacing: 4px; };

.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }

